[submodule "lib/rain.math.binary"]
	path = lib/rain.math.binary
	url = https://github.com/rainlanguage/rain.math.binary
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
